footer.footer
    .container
        .footer-row
            .footer-col
                a(href='#').logo
                    include ../../img/pages/svg/logo-colored.svg
            .footer-col
                span Пишите
                br
                b Broker-sup@sfr.kiev.ua
            .footer-col
                span Звоните
                br
                b +38 (050) 383-08-29
            .footer-col
                span Приходите
                br
                b г. Киев, ул. Дорогожицкая, 1
            .footer-col
                span Заходите
                .social
                    a(href='#').social-facebook 
                        include ../../img/pages/svg/facebook.svg
                    a(href='#').social-telegram
                        include ../../img/pages/svg/telegram.svg
                    a(href='#').social-telegram
                        include ../../img/pages/svg/telegram.svg
    .footer-line
    .container
        .footer-inner
            .footer-group
                a(href='#')
                    span О компании
                a(href='#')
                    span Политика конфиденциальности
                a(href='#')
                    span Условия пользования
            .footer-group
                span © 2019. Современные финансовые решения
include ./popup/modal