//- header.header
header.header
    .container
        .header-wrap
            a(href='#').logo 
                include ../../img/pages/svg/logo.svg
            .header-nav
                ul.menu
                    li.selected
                        a(href="#").selected Кредит наличными
                    li
                        a(href="#") Кредит онлайн       
                ul.language
                    li.active
                        a(href="#") RU
                    li
                        a(href="#") UA