//- header.header
header.header
    .container
        .header-wrap
            a(href='#').logo 
                include ../../img/pages/svg/logo.svg 
            ul.menu
                li
                    a(href="#") Как это работает? 
                li
                    a(href="#") Рассчитать платеж
                li
                    a(href="#") Банки-партнеры
            .header-nav
                ul.language
                    li.active
                        a(href="#") RU
                    li
                        a(href="#") UA