.thumb-review
    .thumb-review__image
        img(src="./img/pages/elems/india.png", alt="")
    .thumb-review__description
        .thumb-review__description-number 01
        .thumb-review__description-title Название отзыва
        .thumb-review__description-text
            p Съемка постановочных отзывов нужна если у вас еще не раскутился бизнес