.thumb-card
    .thumb-card__head
        img(src="./img/pages/elems/india.png", alt="")
        span Осталось 2 свободных номера
        .price от 29 500 ₽
        .like
    .thumb-card__body
        .location
            span Kapuzinerstrasse 1, Баден Баден, Германия
        .name Klinik Dr. Franz Dengler
        .details 07.09-14.09, 7 ночей / 2х местный номер
        a(href="#").btn.btn-link Подробнее