.thumb-card
    .thumb-card__head
        img(src="./img/pages/elems/india.png", alt="")
        span ТОП самых продаваемых
        span Бесплатная экскурсия в Прагу
        .price от 29 500 ₽
        .like
    .thumb-card__body
        .location
            span Kapuzinerstrasse 1, Баден Баден, Германия
            
        .name Klinik Dr. Franz Dengler
        
        a(href="#").btn.btn-link Подробнее