doctype html
html(lang="ru")
ul
  li
    a(href="./lp1.html") Landing 1
  li
    a(href="./lp2.html") Landing 2
  li
    a(href="./lp3.html") Landing 3
  li
    a(href="./lp4.html") Landing 4
  include ./partials/scripts