doctype html
html(lang="ru")
  include ./partials/head
  body
    include ./partials/header2
    section.main(style="background-image: url(../../../img/pages/example/bg-main_3.png)")
      .container
        .main-content
          h1 Кредит наличными до 500 000 ₴
          a(href="#").btn-default-2
            include ../img/pages/svg/unionv2.svg
            span Узнать больше
      .main-info2
        .container
          ul
            li.main-info2__item
              include ../img/pages/svg/main-info-item1v2.svg
              span До 500 000 грн, 
                br 
                | до 48 мес
            li.main-info2__item
              include ../img/pages/svg/main-info-item2v2.svg
              span 1 заявка = 10 решений от банков 
                br 
                | и финансовых компаний
            li.main-info2__item
              include ../img/pages/svg/main-info-item3v2.svg
              span Без отказов для клиентов 
                br 
                | без просрочек
          .description *Мы предлагаем до 10 решений на 1 заявку
    section.credit
      .container
        .main-title.col-sm-12 Для получения кредита заполните простую форму:
        form
          .row-mg
            .col-mg-6.col-sm-12
              .credit-row
                .title Сумма кредита
                .thumb-range
                  label
                    input(type="text", placeholder="10 000")
                    span грн
                  .slidecontainer
                    .btn.decrement
                    .slider-control
                      .slider#sum
                      .min-max
                        span(id="min") 1000
                        span(id="max") 500 000
                    .btn.increment
              .credit-row
                .title Ежемесячный платеж*
                .thumb-range
                  label
                    input(type="text", placeholder="2 500")
                    span мес
                .important *Важно! Указанный ежемесячный платеж является ориентировочным
            .col-mg-6.col-sm-12
              .credit-row   
                .title Период
                .thumb-range
                  label
                    input(type="text", placeholder="12")
                    span мес
                  .slidecontainer.col-sm-12
                    .btn.decrement
                    .slider-control
                      .slider#period
                      .min-max
                        span(id="min") 6
                        span(id="max") 48
                    .btn.increment
          .row-mg
            .col-mg-6.col-sm-12
              label.custom-input
                input(type="text")
                span Имя
              label.custom-input
                input(type="tel", placeholder="+38 (___) ___-__-__").tel
            .col-mg-6.col-sm-12
              label.custom-input
                input(type="text")
                span ИНН
              label.custom-input
                select.line(name="work", placeholder="")
                  option Трудоустройство
                  option Безработный
                  option Студент
                  option Пенсионер
                  option Официально 
                  option Не официально
          .row-mg
            .col-mg-6.col-sm-12
              label.custom-checkbox
                input(type="checkbox", checked)
                i
                span Согласие на обработку персональных данных
              label.custom-checkbox
                input(type="checkbox", checked)
                i
                span Я не робот
            .col-mg-6.col-sm-12
              a(href="#").btn-default
                include ../img/pages/svg/union.svg
                span Получить деньги
                    a(href="#")
    section.partners
      .container
        .partners-info
          h2 Кредиты по лояльным ставкам с низкой переплатой
          p Мы работаем только с проверенными банками и финансовыми компаниями
        .partners-logos
          .partners-logos__item
            .image
              img(src="../img/pages/elems/alpha-bank.png", alt="")
            .image
              img(src="../img/pages/elems/idea-bank.png", alt="")
            .image
              img(src="../img/pages/elems/pumb.png", alt="")
          .partners-logos__item
            .image
              img(src="../img/pages/elems/otp-bank.png", alt="")
            .image
              img(src="../img/pages/elems/credit-market.png", alt="")
            .image
              img(src="../img/pages/elems/forward-bank.png", alt="")
          .partners-logos__item
            .image
              img(src="../img/pages/elems/modern-factoring.png", alt="")
            .image
              img(src="../img/pages/elems/global-credit.png", alt="")
            .image
              img(src="../img/pages/elems/simple-money.png", alt="")
            .image
              img(src="../img/pages/elems/credit2u.png", alt="")
    section.steps
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .image(style='background-image: url(../img/pages/elems/step1_v1.png)')
            .container
              span Шаг 1
              p Отправь простую заявку
          .swiper-slide
            .image(style='background-image: url(../img/pages/elems/step2_v1.png)')
            .container
              span Шаг 2
              p Мы перезвоним и пригласим на оформление
          .swiper-slide
            .image(style='background-image: url(../img/pages/elems/step3_v1.png)')
            .container
              span Шаг 3
              p Приходите к нам с паспортом и ИНН           
          .swiper-slide
            .image(style='background-image: url(../img/pages/elems/step4_v1.png)')
            .container
              span Шаг 4
              p Получайте кредит и забирайте деньги
        .swiper-pagination
    section.capabilities
      .container
        .capabilities-info
          h2 Новые возможности для тебя
          p Комфортное решение в любой ситуации без лишних вопросов
          .capabilities-nav
            a(href="#").btn-default
              include ../img/pages/svg/union.svg
              span Получить деньги
        .capabilities-description
          .capabilities-description__row
            .capabilities-description__item
              include ../img/pages/svg/capability1.svg 
              span Планируешь
              p срочно сделать покупку, а денег не хватает?
            .capabilities-description__item
              include ../img/pages/svg/capability2.svg 
              span Желаешь
              p отдохнуть с друзьями или семьей?
          .capabilities-description__row
            .capabilities-description__item
              include ../img/pages/svg/capability3.svg 
              span Хочешь
              p погулять, а до зарплаты еще неделя?
            .capabilities-description__item
              include ../img/pages/svg/capability4.svg 
              span Нужно
              p деньги, чтобы улучшить здоровье?
    section.terms
      .container
        .terms-info
          h2 Условия кредитования
        .terms-description
          .terms-description-row
            .terms-description-col
              span Требования к заёмщикам
              ul
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Гражданство Украины
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Возраст от 21 года до 70 лет
            .terms-description-col
              span Необходимые документы
              ul
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Паспорт
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Идентификационный номер
          .terms-description-row
            .terms-description-col
              span Условия по кредиту:
              ul
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Срок - 
                  .bold от 6 до 48 месяцев;
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Сумма – 
                  .bold от 1 000 до 500 000 грн;
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Процентная ставка – 
                  .bold от 0,01% до 40%;
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Комиссия за выдачу кредита - 
                  .bold от 0% до 5%;
                li.terms-description__item
                  include ../img/pages/svg/checked_green.svg
                  | Ежемесячная комиссия – 
                  .bold от 0% до 4,4%;
    section.example
      .container
        .example-info
          h2 Пример расчета ежемесячного платежа:
        .example-description
          .example-description-container
            .example-description__col
              span Сумма кредита#[span.bold__big 10 000,00 грн ]
              span Процентная ставка (годовая) #[span.bold 19,99% ]
              span Ежемесячная комиссия #[span.bold 2,75% ]  
            .example-description__col
              span Ежемесячный платеж #[span.bold__green 1 275,33 грн, т.ч. ]
              span Срок #[span.bold 12 месяцев ]
              span Тело кредита #[span.bold 833,33 грн ]
            .line
          .example-description__item
            p В случае несвоевременного внесения суммы ежемесячного платежа, либо его задержки Банк имеет право применить к заемщику штрафные санкции.
          .example-description__item
            p #[span.bold Минимальный размер штрафа] – от 100 грн за просроченный платеж. При длительных задержках оплаты платежей по кредиту информация о данных ситуациях передается в различные бюро кредитных историй, что, значительно, ухудшает кредитную историю клиента и снижает перспективы получения последующих кредитов в банках и финансовых компаниях.
          .example-description__item
            p #[span.bold Наш сервис является для Вас абсолютно бесплатным], по-этому можете подавать заявку, как на себя, так и на своих ближайших родственниках (муж/жена и тд), что, значительно, увеличит шансы на получение кредита. В случае положительного решения – заемщиком будет выступать тогда соответствующий родственник (муж/жена и тд).
          .example-description__item
            p Также, обращаем внимание, что #[span.bold поданная заявка ни к чему не обязывает клиента], и Вы, на любом этапе можете отказаться от предложений по кредиту со стороны банков и финансовых компаний.
    section.licenses
      .container
        h2 Лицензии партнеров
        .licenses-wrap
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                img(src="../img/pages/elems/license1.png", alt="")
                span Альфа-Банк
              .swiper-slide
                img(src="../img/pages/elems/license2.png", alt="")
                span Банк Форвард
              .swiper-slide
                img(src="../img/pages/elems/license3.png", alt="")
                span ПУМБ
              .swiper-slide
                img(src="../img/pages/elems/license4.png", alt="")
                span ОТП Банк
              .swiper-slide
                img(src="../img/pages/elems/license5.png", alt="")
                span Кредит Маркет
              .swiper-slide
                img(src="../img/pages/elems/license1.png", alt="")
                span Сучайсний Факторинг
              .swiper-slide
                img(src="../img/pages/elems/license2.png", alt="")
                span Global Credit
              .swiper-slide
                img(src="../img/pages/elems/license3.png", alt="")
                span Simple Money
              .swiper-slide
                img(src="../img/pages/elems/license4.png", alt="")
                span CREDIT2U
              .swiper-slide
                img(src="../img/pages/elems/license5.png", alt="")
                span Idea Bank
          .swiper-navigation
            .swiper-button-prev
              include ../img/pages/svg/swiper-buttons-prev.svg
            .swiper-button-next
              include ../img/pages/svg/swiper-buttons-next.svg
    include ./partials/footer
    include ./partials/scripts